<div>
    <h2><%= book.title %></h2>
    <img src="<%= book.coverImagePath %>" height="150" width="100" alt="">
</div>
<div>
    <p>Author: <%= book.author.name %></p>
    <p>Publish Date: <%= book.publishDate.toDateString() %></p>
    <p>Page Count: <%= book.pageCount %></p>
    <p>Description: <%= book.description %></p>
</div>
<div>
    <a href="/books/<%= book.id %>/edit">Edit</a>
    <%- include('../partials/deleteForm.ejs', { url: `/books/${book.id}`}) %>
    <a href="/authors/<%= book.author.id %>">View Author</a>
</div>